Day06/workflow.json
{
  "name": "Day 6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        432
      ],
      "id": "9743613a-897e-49e2-8055-40053d2855d8",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "fromEmail": "andychuah99@gmail.com",
        "toEmail": "andychuah99@gmail.com",
        "subject": "今天的內容創作很精彩，趕快來看看！",
        "emailFormat": "text",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        192,
        432
      ],
      "id": "19314ae6-0326-42a5-bff3-e0dee928f1ab",
      "name": "Send email (With update)1",
      "webhookId": "fb22de40-7354-4c33-80da-01dafe232cef"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe295a97-2186-4f28-bc72-85521e1e5412",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ DateTime.now().startOf('day').minus(7, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -32,
        432
      ],
      "id": "fa27ced6-d235-4a26-b5b9-a23f734cf2b0",
      "name": "篩選出7天內更新的作品1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://www.youtube.com/feeds/videos.xml?channel_id=UCX6OQ3DkcsbYNE6H8uQQuVA",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -256,
        432
      ],
      "id": "eae91d5e-d194-4cfd-9f7d-2a4e98e582f3",
      "name": "RSS Read (YT)1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "RSS Read (YT)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "篩選出7天內更新的作品1": {
      "main": [
        [
          {
            "node": "Send email (With update)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (YT)1": {
      "main": [
        [
          {
            "node": "篩選出7天內更新的作品1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "229f6596-8ba6-4b6f-923a-8c43469d81e8",
  "meta": {
    "instanceId": "623d21ab76e71fa91bf59f120ff6d6655c4e6d45ce5692737242a9f048ad65f8"
  },
  "id": "vzywxTnugMWp8dAB",
  "tags": []
}