Day05/workflow.json
{
  "name": "Day 5 - RSS + Filter + Email 通知",
  "nodes": [
    {
      "id": "1",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "name": "手動觸發",
      "parameters": {},
      "position": [
        250,
        300
      ]
    },
    {
      "id": "2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "name": "RSS 讀取",
      "parameters": {
        "url": "https://example.com/feed.xml"
      },
      "position": [
        450,
        300
      ]
    },
    {
      "id": "3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "name": "過濾新文章",
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $now.minus(1, 'day').toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ]
        }
      },
      "position": [
        650,
        300
      ]
    },
    {
      "id": "4",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "name": "寄送 Email",
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "recipient@email.com",
        "subject": "=新文章：{{ $json.title }}",
        "emailType": "html",
        "message": "=<h2>{{ $json.title }}</h2><p>{{ $json.content }}</p><a href='{{ $json.link }}'>閱讀全文</a>"
      },
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "手動觸發": {
      "main": [
        [
          {
            "node": "RSS 讀取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS 讀取": {
      "main": [
        [
          {
            "node": "過濾新文章",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "過濾新文章": {
      "main": [
        [
          {
            "node": "寄送 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "instanceId": "n8n-30days-demo"
  },
  "description": "Day 5：RSS + Filter + Email 自動通知新文章"
}