Day12/workflow.json
{
  "name": "n8n_book_day12",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 55
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        144
      ],
      "id": "a5ed9ec7-7684-406d-ac8d-4d430804432b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM",
          "mode": "list",
          "cachedResultName": "團隊月度績效總表",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "行銷",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        -48
      ],
      "id": "be2b96e8-1ee1-4ac8-bbfe-edfc92e6ca80",
      "name": "Get 行銷資料"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 找出最新日期\nlet latestTimestamp = 0;\nitems.forEach(item => {\n  const ts = new Date(item.json['Timestamp']).getTime();\n  if (ts > latestTimestamp) latestTimestamp = ts;\n});\n\nconst latestDateStr = new Date(latestTimestamp).toLocaleDateString('zh-TW', {\n  timeZone: 'Asia/Taipei', year: 'numeric', month: 'long', day: 'numeric'\n});\n\n// 篩選出最新一週資料\nconst latestEntries = items.filter(item => new Date(item.json['Timestamp']).getTime() === latestTimestamp);\n\n// 直接輸出 JSON 物件，不要包成字串\nreturn [{\n  json: {\n    date: latestDateStr,\n    mkt: latestEntries.find(e => e.json['部門'] === '行銷')?.json || {},\n    sales: latestEntries.find(e => e.json['部門'] === '業務')?.json || {},\n    cs: latestEntries.find(e => e.json['部門'] === '客服')?.json || {}\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        144
      ],
      "id": "50627776-6adc-4b32-a139-7ac68f076693",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM",
          "mode": "list",
          "cachedResultName": "團隊月度績效總表",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1970121309,
          "mode": "list",
          "cachedResultName": "業務",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM/edit#gid=1970121309"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        144
      ],
      "id": "5a291fd2-883c-4f93-ac03-e4195798bd21",
      "name": "Get 業務資料"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM",
          "mode": "list",
          "cachedResultName": "團隊月度績效總表",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 377797998,
          "mode": "list",
          "cachedResultName": "客服",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19gNteKXPq8hj2SvNEfAs6ZAAtYzWQJ7BvzC3rGJROkM/edit#gid=377797998"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        336
      ],
      "id": "c0357da2-c8bd-43d2-bdc7-789cb31f1deb",
      "name": "Get 客服資料"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        128
      ],
      "id": "dc09fcbf-18a5-4f15-af58-9c7fe3a9ceab",
      "name": "Merge"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "@andy.chuah",
          "mode": "username"
        },
        "messageType": "block",
        "blocksUi": "=// Day 12 — Slack Block Kit JSON（Step 2/2）\n// 使用方式：\n// 1. 在 Slack 節點，Message Type 選「Blocks」\n// 2. 切換到 Expression 模式（點擊欄位右側的 = 符號）\n// 3. 把下方「{{」到「}}」整段（含兩端的雙大括號）貼入 Blocks 欄位\n// 前置：需配合 code.js 的 Code 節點輸出\n\n{{\n{\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": \"📊 各部門最新週報彙整\", \"emoji\": true }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        { \"type\": \"mrkdwn\", \"text\": \"📅 *結算日期：* \" + $json.date }\n      ]\n    },\n    { \"type\": \"divider\" },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"📢 *【行銷部】*\" },\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"• *本週發文：* \" + ($json.mkt[\"本週發文數\"] || 0) + \" 篇\" },\n        { \"type\": \"mrkdwn\", \"text\": \"• *觸及率：* \" + ($json.mkt[\"觸及率(%)\"] || 0) + \"%\" },\n        { \"type\": \"mrkdwn\", \"text\": \"• *新增粉絲：* \" + ($json.mkt[\"新增粉絲數\"] || 0) + \" 人\" }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"📝 *備註：* \" + ($json.mkt[\"備註\"] || \"無\") }]\n    },\n    { \"type\": \"divider\" },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"💼 *【業務部】*\" },\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"• *新增客戶：* \" + ($json.sales[\"本週新增客戶數\"] || 0) + \" 家\" },\n        { \"type\": \"mrkdwn\", \"text\": \"• *成交金額：* $\" + Number($json.sales[\"成交金額(元)\"] || 0).toLocaleString() },\n        { \"type\": \"mrkdwn\", \"text\": \"• *拜訪次數：* \" + ($json.sales[\"拜訪次數\"] || 0) + \" 次\" }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"📝 *備註：* \" + ($json.sales[\"備註\"] || \"無\") }]\n    },\n    { \"type\": \"divider\" },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"🎧 *【客服部】*\" },\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"• *處理件數：* \" + ($json.cs[\"本週處理件數\"] || 0) + \" 件\" },\n        { \"type\": \"mrkdwn\", \"text\": \"• *平均回應：* \" + ($json.cs[\"平均回應時間(小時)\"] || 0) + \" 小時\" },\n        { \"type\": \"mrkdwn\", \"text\": \"• *客戶滿意度：* \" + ($json.cs[\"客戶滿意度(%)\"] || 0) + \"%\" }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"📝 *備註：* \" + ($json.cs[\"備註\"] || \"無\") }]\n    },\n    { \"type\": \"divider\" },\n    {\n      \"type\": \"context\",\n      \"elements\": [{ \"type\": \"mrkdwn\", \"text\": \"🤖 由 *n8n* 自動解析並產生\" }]\n    }\n  ]\n}\n}}",
        "text": "={{ $json.report }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        816,
        144
      ],
      "id": "26ef056a-c91d-43fd-8170-635e336701ff",
      "name": "Send a message",
      "webhookId": "b60dabc3-4100-46d9-a3e5-11ac2b0187e2",
      "credentials": {
        "slackApi": {
          "id": "8QwjAIhSXjtx1mny",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get 行銷資料",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get 業務資料",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get 客服資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 行銷資料": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 客服資料": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get 業務資料": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d5e472b1-0d18-47f1-8abc-16cf0a98da8f",
  "meta": {
    "instanceId": "623d21ab76e71fa91bf59f120ff6d6655c4e6d45ce5692737242a9f048ad65f8"
  },
  "id": "J4PAQBzLmG5mlCEI",
  "tags": []
}